{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>X Museum</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/main.js' %}"></script>

  </head>
  <body>

  <h1>Real Time Analytics</h1>

  {% if user.is_authenticated %}
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Location</th>
        <th>POI</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for location in old_locations %}
      <tr>
        <td>{{location.user}}</td>
        <th>{{location.location}}</th>
        {% if location.location.is_poi %}
          <th>{{location.location.related_poi}}</th>
        {% else %}
          <th> - </th>
        {% endif %}
        <th>{{location.timestamp}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}




  </body>
</html>
